<div class="wrapper">	
	<div class="container_12">
		<div id="admin_users" class="admin grid_12">
			<h1>Users</h1>
			<table id="users">
				<thead>
					<tr>
						<td class="sortable" data-col="id">ID</td>
						<td class="sortable" data-col="email">Email</td>
						<td># Sign in</td>
						<td># Reviews</td>
						<td>FB id</td>
					</tr>
				</thead>
				<tbody>
					<%= render :partial => "users" %>
				</tbody>
			</table>
		</div>
		
		<div id="admin_apartments" class="admin grid_12">
			<h1>Apartments</h1>
			<table id="apartments">
				<thead>
					<tr>
						<td class="sortable" data-col="id">ID</td>
						<td class="sortable" data-col="address">Address</td>
						<td>Name</td>
						<td>Phone #</td>
						<td class="sortable" data-col="dist_to_campus">Distance To Campus</td>
						<td># Reviews</td>
						<td>Delete</td>
					</tr>
				</thead>
				<tbody>
					<%= render :partial => "apartments" %>
				</tbody>
			</table>
		</div>
		
		<div id="admin_reviews" class="admin grid_12">
			<h1>Reviews</h1>
			<table id="reviews">
				<thead>
					<tr>
						<td>ID</td>
						<td>By User</td>
						<td>For Apartment</td>
					</tr>
				</thead>
				<tbody>
					<%= render :partial => "reviews" %>
				</tbody>
			</table>
		</div>
	</div> <!--container 12-->
	
			
</div> <!--wrapper-->

<script type="text/javascript">
	var table = "";
	var col = "id";
	var order = "asc";
	$().ready(function() {
		$('td.sortable').live("click", function(e) {
			table = $(this).closest("table").attr("id");
			col = $(this).attr("data-col");
			order = (order == "asc" ? "desc" : "asc");
			$.ajax({
				url: "<%= admin_path() %>.js",
				data: {table: table, col: col, order: order}
			});
		});
		
		$('td.deletable').live("click", function(e) {
			var delete_confirm = confirm("Delete this apartment?");
			if (delete_confirm) {
				$.ajax({
					url: "/admin/destroy_apartment/"+$(this).attr("data-apartment-id")+".js"
				});	
			}
		})
	});
</script>