/* style.scss */
$faintgray:#E8E8E8;
$lightestgray:#CCCCCC;
$gray:gray;
$lightgray:rgba(51,51,51,0.2);
$medgray:rgba(51,51,51,0.4);
$darkgray:rgba(51,51,51,0.6);
$textgray:#666666;
$textlightgray:rgba(51,51,51,0.2);
$orange:rgb(245,140,0);
$orange-dim:rgba(245,140,0,0.4);
$medorange:rgba(245,140,0,0.8);
$value-height:25px;
$value-width:100px;
$value-height_2:40px;
$gray:#666666;
$large-line-height:20px;
$large-font:16px;
$red:rgba(238,64,0,0.4);
$blue:rgba(30,144,255,0.4);
$darkblue:rgba(30,144,255,0.7);

.clearfloat{
	clear:both;
}


a{
	color:white;
}

a:hover{
	color:$lightestgray;
}

a:active{
	color:$lightestgray;
}

.signin{
	
	.category{
		font-size:$large-font;
		color:gray;
		padding:0px 10px 5px 0px;
	}
	
	.title{
		padding:25px;
		color:$medgray;
		font-size:20px;
	}
	
	ul{
		list-style:none;
		
		label{
			font-size:$large-font;
			color:gray;
			padding:0px 10px 5px 0px;
		}
		
		input[type="text"], input[type="password"], input[type="email"]{
				border:1px solid $lightestgray;
				padding:5px;
				font-size:14px;
		}
	}
	
	.submit-btn{
		margin-top:10px;
		border:none;
		text-align:center;
		padding:11px 25px 11px 25px;
		font-size:14px;
		border-radius:5px;
		color:gray;
		background-color:$orange-dim;
	}
	
	.submit-btn:hover{
		background-color:$medorange;
		color:white;
	}
}


#search{
		text-align:center;
		.button{
			text-align:center;
			padding:11px 25px 11px 25px;
			font-size:14px;
			border-radius:5px;
			margin-bottom:10px;
			background-color:$blue;
			width:200px;
			display:inline;
			color:white;
			
		}
		
		.button:hover{
			background-color:$darkblue;
			cursor: pointer;
		}
		
		input[type="text"], textarea{
			border-radius:1px;
			border: 1px solid $lightestgray;
			padding:7px 10px 7px 10px;
			font-size:14px;
			width:500px;
			box-shadow: 0px 0px 3px $lightgray;
		}
		
		input[type="text"]:focus{
			box-shadow: 0px 0px 6px $blue;
			border:1px solid $blue;
		}
	
} /**search**/


#nav_bar{
	display:inline;
	ul{
		list-style:none;
		
		li {
			float:right;
			font-size:12px;
			color:white;
			padding:0px 3px 0px 3px;
		}
	}
}


#filter_container{
	background-color:$lightestgray;
	padding:none;
	height:350px;
	padding-top:40px;
	
	.instruc-text{
			font-size:18px;
			color:gray;
			padding-bottom:15px;
			text-align:center;
	}
	
	#filter{
		margin-top:45px;
		.browse_link{
			padding:20px;
			font-size:$large-font;
			color:gray;
			text-align:center;
			
		}
		
		.map_canvas{
			background-color:white;
			padding:5px;
			
			#google-map{
			padding:2px;
			width:220px;
			height:161px;
			}
			
		}
		.subcolumn{
			float:left;
			padding:0px 0px 10px 20px;
			
			p{
				text-align:center;
				color:$gray;
				font-size:12px;
				margin-top:5px;
			}
		}
		
		
		.price{
			padding-right:0px;
		}
		
		.category{
			font-size:$large-font;
			color:gray;
			padding:0px 10px 5px 0px;
		}
		
		.num_box{
			float:left;
			height:25px;
			width:15px;
			background-color:$lightgray;
			margin-left:2px;
		}
		
		.num_box:hover{
			background-color:$darkgray;
			cursor: pointer;
		}
		
		.num_box.selected{
			background-color:$darkgray;
		}
		
		.neighborhood_map {
			float:right;
			margin-right:15px;
			
			img{
				background-color:white;
				padding:5px;
			}
		}
		
		#price_ranges{
				list-style:none;
				width:266px;
				padding-right:0px;
				float:left;
				
				
				li{
					float:left;
					color:$textgray;
					font-size:12px;
					padding:10px;
					width:110px;
					margin-left:0px;
					margin-right:3px;
					margin-bottom:3px;
					background-color:$lightgray;
					
				}
				
				li:hover{
					background-color:$darkgray;
					color:white;
					cursor: pointer;
				}
				
				li.selected{
					background-color:$darkgray;
					color:white;
				}
		}
		
		.amenities{
			float:left;
			padding-right:0px;
			width:665px;
				
		}
		
		#amenities_list{
				list-style:none;
				
				li{
					float:left;
					color:$textgray;
					font-size:12px;
					padding:10px;
					width:110px;
					margin-left:0px;
					margin-right:3px;
					margin-bottom:3px;
					background-color:$lightgray;
					
				}
				
				li:hover{
					background-color:$darkgray;
					color:white;
					cursor: pointer;
				}
				
				li.selected{
					background-color:$darkgray;
					color:white;
				}
		}
	
	}/**filter**/

}/***filter-container***/

#search_button{
	margin-top:20px;
	text-align:center;
	border-radius:5px;
	padding:20px 0px 20px 0px;
	background-color:$orange-dim;
	color:$darkgray;
	font-size:20px;	
}

#search_button:hover{
	background-color:$medorange;
	color:white;
	cursor:pointer;
};


#toggle_filter{
	background-color:$lightgray;
	color:gray;
	font-size:12px;
	
	div{
		padding:10px;
	}
}


#toggle_filter:hover{
	background-color:$medorange;
	color:white;
}

#sort{
		padding-top:20px;
		list-style:none;
		float:left;
		font-size:10px;
		margin-bottom:20px;
		
		li{
			float:left;
			font-size:12px;
			color:gray;
			padding-right:40px;
			margin-left:0px;
			
			ul{ 
				display: none;
				list-style:none;
				margin-right:40px;
				
					
					li{
						padding-top:10px;
						float:none;
						padding:5px 10px 5px 10px;
						margin-left:0px;
						color:gray;
						
					}
			
			
			}
			
			
			}
		li:hover ul{
			display:block;
			position:absolute;
			background-color:$lightestgray;
			color:gray;
			
			li:hover{
				background-color:$darkgray;
				color:white;
			}
		}
}

.results{
	padding:0px;
}
 
.apt_detail{
	margin-left:0px;
	border:solid 1px $lightestgray;
	color:$gray;
	padding:0px;
	height:220px;
	width:958px;
	margin-top:20px;
	
	.inner{
		padding-left:20px;
		padding-top:20px;
		
			.column{
				padding:10px 10px 5px 0px;
				float:left;
				
				.non-selected{
				background-color:$lightestgray;
				color:$gray;
				
				}
				.am_1,.am_2{
					float:left;	

				}
			}
			
			.address{ 
	
				.street{
				font-size:16px;
				display:inline;
				}
				
				.city{
				display:inline;
				font-size:12px;
				color:gray;
				}
			}
			
		
		.map, .aptpicture{
			width:180px;
			height:125px;
			background-color:gray;
		}
		
		.aptgallery{
			width:180px;
			padding-top:3px;
			text-align:center;
			.aptpicture_small{
				margin-right:3px;
				background-color:gray;
				height:30px;
				width:27px;
				float:left;
			}
			
			.last{
				margin-right:0px;
			}
			
		}
		
		.category{
			width:$value-width;
			text-align:center;
			padding-bottom:3px;
		}
		
		.amentities{
			.category{
				width:200px;
			}
		
		}

		.value{
			padding-top:5px;
			background-color:$orange-dim; 
			width: $value-width;
			height:$value-height;
			text-align:center;
			
			
		}
		
		.bathrooms{
			margin-top:10px;
		}
			
		.bedrooms, .bathrooms{
			.value{
				padding-top:7px;
				font-size:16px;
			}
		}
		
		.rent{
			.value{
				padding-top:15px;
				font-size:16px;
				line-height:$large-line-height;
				height:60px;
				text-align:center;
			}
	
		}
		
		
		.distance{
				font-weight:none;
				margin-top:3px;
				width: 180px;
		}
		
		.item{
			padding-top:5px;
			width:$value-width;
			height:$value-height - 5px;
			background-color:$orange-dim; 
			text-align:center;
			font-size:10px;
			margin-bottom:3px;
			margin-left:3px;
		}
		
		.ratings{
			width:$value-width;
		
			.ratings_value_box{
				height:$value-height;
				width:$value-width/5 - 3px;
				margin-left:2px;
				background-color:$orange-dim; 
				float:left;
				
				
			}
			
			.non-selected{
					background-color:$lightestgray;
				}	
		}
		
		.condition{
			padding-bottom:40px;
			padding-top:40px;
		}
	
	.recommendation{
		width:$value-width;
		height:$value-width;
		background-color:$orange;
		color:white;
		text-align:center;
			.number{
				padding-top:35px;
				font-size: 22px;
			}
			.total{
				font-size:14px;
				line-height:$large-line-height;
			}		
			
	}
	
	.recommendation-container .text{ 
		text-align:center;
	}
	
	
	.aptname{
		font-size:16px;
	}
	
	.quote-container{	
		
		.fb_photo-container{
			margin-bottom:5px;
			float:left;
			border:1px solid $lightestgray;
			padding:3px;
			display:inline;
				
				.fb_photo{
					background-color:gray;
					width:40px;
					height:40px;
				}
		}
				
		.quote{
			width:360px;
			float:left;
			padding:10px;
	
		}
		
	

	}
	
	} /***inner**/

	.buttons_container{
		margin-top:20px;
		margin-left:20px;
		.button{
			text-align:center;
			padding:20px;
			font-size:$large-font;
			border-radius:5px;
			margin-bottom:10px;
			background-color:$lightgray;
		}
		.button:hover{
			cursor:pointer;
		}
		
	}
	
} /***result***/

.recommendation{
	width:$value-width;
	height:$value-width;
	background-color:$orange;
	color:white;
	text-align:center;
		.number{
			padding-top:35px;
			font-size: 22px;
		}
		.total{
			font-size:14px;
			line-height:$large-line-height;
		}		
		
}

.recommendation-container .text{ 
	text-align:center;
}


.new_review{
	padding-bottom:30px;
	
	#map_canvas{
		margin-top:5px;
		margin-bottom:20px;
	}
	
	.question{
		padding-bottom:20px;
	}
	
	.category{
		font-size:$large-font;
		color:gray;
		padding-bottom:5px;
	}
	
	.num_box{
			float:left;
			height:25px;
			width:15px;
			background-color:$orange-dim;
			margin-left:2px;
	}
	
	.num_box:hover{
		background-color:$medorange;
	}
	
	.options{
		padding:5px;
		margin-left:80px;
	}
	
	.option_box{
		float:left;
		height:25px;
		width:15px;
		background-color:$orange-dim;
		margin-left:2px;
	
	}
	
	.option_box:hover{
		background-color:$medorange;
	}
	
	input[type="text"], textarea{
		border:1px solid $lightestgray;
		padding:5px;
		font-size:14px;
	}
	
	#rent_input{
		width:87px;
	}
	
	#address_input{
		width:300px;
	}
	
	.option_selectors{
		list-style:none;
		
		li{
			text-align:center;
			float:left;
			margin:5px 5px 0px 0px;
			padding:10px 15px 10px 15px;
			min-width:70px;
			background-color:$orange-dim;
			border-radius:2px;
			color:$gray;
		}
		
		li:hover{
		background-color:$medorange;
		color:white;
		}
	}
	

	
	#amenities_list{
			margin-top:3px;
			width:560px;
			list-style:none;
				
				li{
					color:$textgray;
					font-size:12px;
					padding:10px;
					width:110px;
					margin-left:0px;
					margin-right:3px;
					margin-bottom:3px;
					background-color:$orange-dim;
					float:left;
				}
				
				li:hover{
					background-color:$medorange;
					color:white;
				}
		}
	
	.button{
		padding:20px 0px 20px 0px;
	}

	.upload{
		background-color:$orange-dim;
		margin-bottom:20px;
		border-radius:5px;
		font-size:14px;
	}
	
	.upload:hover{
		background-color:$medorange;
	}
	
	.submit{
		background-color:$blue;
		border-radius:5px;
	}

	.submit:hover{
		background-color:$darkblue;
		color:white;
	}

	.cancel{
		background-color:$lightgray;
		border-radius:5px;
	}
	
	.cancel:hover{
		background-color:$medgray;
	}
	
}/***review***/


/**apartment page**/

#info_container{
	background-color:$lightestgray;
	padding:none;
	height:235px;
	
	.inner{
		margin-top:20px;
	
		.subcolumn{
			float:left;
			padding:0px 0px 10px 20px;
		}
		
			.amenities{
				float:left;
				padding-right:0px;
				width:665px;

			}

			#amenities_list{
					list-style:none;

					li{
						float:left;
						color:$textgray;
						font-size:12px;
						padding:10px;
						width:110px;
						margin-left:0px;
						margin-right:3px;
						margin-bottom:3px;
						background-color:$lightgray;

					}

					li:hover{
						background-color:$darkgray;
						color:white;
					}
			}
		
		
	}
}




.recommendation-rating, .apt_price{
		color:$textgray;
		font-size:12px;
		padding:10px;
		width:110px;
		margin-left:0px;
		margin-right:3px;
		margin-bottom:3px;
		background-color:$lightgray;
	
}
.address{
	font-size:$large-font;
	padding-bottom:5px;
	color:gray;
}

.add_address{
	width:200px;
	margin-top:5px;
}


.total_reviews{
	margin-top:10px;
	margin-bottom:5px;
	div{
	color: gray;
	display:inline;
	font-size:16px;
	}
}

.response{
	text-align:center;
	padding:12px 10px 12px 10px;
	font-size:14px;
	border-radius:5px;
	width:70px;
	color:black;
}

.no{
	background-color:$red;
}

.yes{
	background-color:$blue;
}

.maybe{
	background-color:$orange-dim;
}

.review{
	height:50px;
	padding:20px;
	margin-top:5px;
	background-color:$faintgray;
	.subcolumn{
		margin-right:20px;
		float:left;
		
		.review_text{
			font-size:14px;
			padding-bottom:10px;
		}
		
		.date{
			color:gray;
		}
		
	}
	.apt_setup{
		float:right;
	}
}

.new_review{
	padding-left:0px;
}

/**footer**/

.footer{
	margin-top:200px;
	padding-top:20px;
	padding-bottom:20px;
		.copyright{
			padding:10px;
			font-size:14px;
			color:gray;
		}
		.links{
			padding:10px;
			ul{
				list-style:none;
				li{
					font-size:12px;
					color:gray;
					float:right;
				}
			}
		}
}