<div class="container_12">
	<div class="grid_12 footer">
		
		<div class="grid_2 copyright">
			Roomade © 2012		
		</div>
		
		<div class="grid_9 links">
		<ul>
			<li> Terms </li>
			<li> Review Apartment </li>
			<li> About </li>
			<li> Home </li>
		</ul>
		</div>
	
		
	</div> <!--footer-->

</div><!--container-->