<div id="logo" class="grid_12">
		<div class="grid_6" style="position:relative; bottom:0;"> ROOMADE
				<div id="slogan">get the juice on apartments</div>
		</div>	

		<div class="grid_5" id="nav_bar">
			<ul>
				<% if current_user.present? %>
					<li><%= link_to "Logout", sign_out_path() %></li>
				<% else %>
					<li><%= link_to "Login", sign_in_path() %></li>
				<% end %>
				<li data-id="2"><%= link_to "Review Your Apartment", new_review_path() %></li>
				<li data-id="1"><%= link_to "About", "#", :onclick => "return false;" %></li>
			</ul>
		</div><!--nav_bar-->
	</div> <!--logo-->
	
<script type="text/javascript">
	$('#logo .grid_6').live("click", function(e) {
		location.href = "/";
	});
</script>