<div class="grid_12 placeholder" style="height:70px; background-color:rgba(51,51,51,0.6);">
</div>

<div id="logo" class="grid_12">
	<div class="grid_7" style="position:relative; bottom:0;"> ROOMADE
			<div id="slogan">get the juice on apartments</div>
	</div>	
	
	<div class="grid_4" id="nav_bar">
		<ul>
			<% if current_user.present? %>
				<li><%= link_to "Logout", sign_out_path() %></li>
			<% else %>
				<li><%= link_to "Login", sign_in_path() %></li>
			<% end %>
			<li><%= link_to "Review Your Apartment", new_review_path() %></li>
			<li><%= link_to "About", "#", :onclick => "return false;" %></li>
		</ul>
	</div><!--nav_bar-->
</div> <!--logo-->
